.header .main-menu-search .search-input input {
    border-radius: 5px 0 0 5px;
}

.header .topbar .top-end .user .arrow-down {
    position: relative;
    left: 10px;
    top: 2px;
}

.header .topbar .top-end li {
    list-style-type: none;
    color: #fff;
}

.header .topbar .top-end li .dropdown-toggle::after {
    display: none;
}

.header .topbar .top-end li .dropdown-menu[data-bs-popper] {
    left: -120px;
    width: 256px;
}

.header .topbar .top-end li .avatar {
    border-radius: 50%;
    position: relative;
    left: 10px;
}

.header .topbar .top-end li .dropdown-item {
    padding: 0.65rem 0rem !important
}

.header .topbar .top-end li .dropdown-menu {
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 1px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 30%);
}

.header .topbar .top-end li .dropdown-menu .main-user-detail {
    display: block;
    height: 80px;
    padding-top: 18px!important;
    border-bottom: 1px solid rgba(0, 0, 0, .15)
}

.header .topbar .top-end li .dropdown-menu .lnks{
    text-decoration: none;
}

.header .topbar .top-end li .dropdown-menu .right-arrow {
    position: absolute;
    right: 15px;
    top: 32px;
    color: #AFB1B5;
    font-weight: bold;
}

.header .topbar .top-end li .dropdown-menu li .links-li span{
    padding-left: 12px;

}