.blog-section .single-blog .blog-content h4 a {
    height: 110px;
}

.blog-categories {
    text-transform: capitalize;
}

.blog-categories:hover {
    color: #ee384e !important
}

.side-categories-title {
    text-transform: capitalize;
}

.sidebar .widget {
    overflow: visible;
}

.fa-close{
    font-size: 30px;
    margin: 10px;
}

.post-tag ul li a {
    text-transform: capitalize;
}

.tag-title-blog-detail{
    color: #ee384e;
}