.sidebar-toggle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding: 10px;
    background: red;
    color: white;
}

#sidebar-toggle-input {
    display: none;
}

/* #sidebar-toggle-input+label:before {
    content: "➡️";
}

#sidebar-toggle-input:checked+label:before {
    content: "❌"
} */

.sidebar {
    /* position: fixed; */
    /* display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    transition: 0.3s; */

    /* top: 0;
    left: 0; */


    height: 100%;
    width: 0;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* transform: translateX(-100%); */
}

#sidebar-toggle-input:checked~.sidebar {
    transform: none;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}



.card-header {
    background-color: #fff;
    border-bottom: 0 solid transparent;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
}

.card-title {
    color: #939ba2;
    font-size: .925rem;
    font-weight: 600;
}

.my-orders .card-title .line {
    border-bottom: solid 2px #EE384E;
    display: block;
    width: 60px;
    margin-top: 5px;
}

.my-orders .status-count {
    position: absolute;
    right: 150px;
    top: 40px;
    display: block;
    background-color: #DDDDDD;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
    line-height: 25px;
    color: #000;
    font-weight: bold;
}

.my-orders .status-count.delivered {
    position: absolute;
    right: 160px;
    top: 40px;
    display: block;
    background-color: #DDDDDD;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
    line-height: 25px;
    color: #000;
    font-weight: bold;
}

.my-orders .see-all {
    position: absolute;
    right: 20px;
    top: 12px;
    color: #19BFD3;
}

.my-orders .see-all .fa-chevron-right {
    font-size: 1rem;
    margin-left: 7px;
}

.your-purchases .see-all {
    position: absolute;
    right: 20px;
    top: 12px;
    color: #19BFD3;
}

.your-purchases .see-all .fa-chevron-right {
    font-size: 1rem;
    margin-left: 7px;
}

.your-purchases .card.product {
    transition: 0.2s;
}

.your-purchases .card.product a {
    text-decoration: none;
}

.your-purchases .card.product:hover {
    background-color: #eeeeee;
    letter-spacing: 0.05rem;
}

.sidebar .card {
    background-color: transparent;
    border-bottom: solid 1px #fff;
    border-radius: 0;
}