.modal-title{
    font-size: 1rem;
}

.modal-card .shopping-item .shopping-list li {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-card .shopping-item .shopping-list li .remove {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    background: #fff;
    color: #222;
    border-radius: 50%;
    font-size: 9px;
    border: 1px solid #ededed;
    padding-left: 1px;
}

.modal-card .shopping-item .shopping-list li .cart-img-head {
    width: 40%;
}

.modal-card .shopping-item .shopping-list li .cart-img {
    border: 1px solid #ededed;
    overflow: hidden;
    height: 80px;
    width: 80px;
    border-radius: 4px;
    float: left;
    margin-right: 20px;
}

.modal-card .shopping-item .shopping-list li .content {
    padding-right: 25px;
    width: 60%;
}

.modal-card .shopping-item .shopping-list li .content h4 {
    margin-bottom: 5px;
    line-height: 22px;
}

.modal-card .shopping-item .shopping-list li .content h4 a {
    font-size: 14px;
    font-weight: 600;
    color: #081828;
}

.modal-card .shopping-item .shopping-list li .content .quantity {
    line-height: 22px;
    font-size: 14px;
}

.modal-card .bottom .total {
    overflow: hidden;
    display: block;
    padding-bottom: 10px;
}

.modal-card .bottom .total span {
    text-transform: capitalize;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    float: left;
}

.modal-card .bottom .total .total-amount {
    float: right;
    font-size: 14px;
}

/* ScrollBar - scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /* ScrollBar */