.title-price {
    font-size: 0.7rem;
}

.price-range {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
}

.single-product .product-info {
    padding: 0;
}

.currency-filter-price {
    position: absolute;
    right: -20px;
    top: 6px;
    font-size: 1rem;
    color: black;
}