.carousel-inner img {
    width: 100%
}

.carousel-item img {
    width: 100%;
    /* height: 440px !important */
}

#myCarousel .carousel-indicators {
    position: static;
    margin-top: 0px
}

#myCarousel .carousel-indicators>li {
    width: 100px
}

#myCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#myCarousel .carousel-indicators li.active img {
    opacity: 1
}

#myCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-indicators [data-bs-target] {
    width: 55px;
}

.item-details .product-info .category a {
    text-transform: capitalize;
}

.item-details .product-images img {
    border: unset;
}

.item-details .product-info .form-group.color-option .single-checkbox label.clr {
    font-size: 14px;
    cursor: pointer;
}

.button .btn.buy-now-button {
    background-color: #28b67e;
    color: #fff;
}

.button .btn.buy-now-button:hover {
    color: #fff;
    background-color: #081828;
    -webkit-box-shadow: 0px 4px 4px #0000000f;
    box-shadow: 0px 4px 4px #0000000f;
}

.btn-success-new {
    background-color: #28b67e;
    color: #fff;
}

/* Start Nav Tabs */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 1px solid;
    border-color: #fff #fff #0167F3;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    border: 1px solid;
    border-color: #fff #fff #dee2e6;
    /* font-weight: bold; */
    font-size: 1rem;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: 1px solid;
    border-color: #fff #fff #0167F3;
}

.breadcrumbs .breadcrumbs-content .page-title {
    transition: all 0.3s;
}

.breadcrumbs .breadcrumbs-content .page-title:hover {
    color: #ee384e;
    letter-spacing: 1px;
}

/* End Nav Tabs */

.compare-icon {
    position: absolute;
    left: -30px;
    top: 10px;
    color: #081828;
}

.compare-icon i {
    font-size: 1.5rem;
}