.main-login-animate {
    background-color: #eeeeee;
    height: 200px;
}

.main-login-animate .text {
    position: relative;
    top: 35px;
}


.main-login-animate .please {
    animation-name: please;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    font-size: 1px;
}

@keyframes please {
    from {
        font-size: 1px
    }

    to {
        font-size: 30px
    }
}



.main-login-animate .login {
    animation-name: login;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-delay: 0.7s;
    font-size: 1px;
    color: #059862;
    text-decoration: none;
}

@keyframes login {
    from {
        font-size: 1px
    }

    to {
        font-size: 30px
    }
}


.main-login-animate .or {
    animation-name: or;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-delay: 1.3s;
    font-size: 1px;
}

@keyframes or {
    from {
        font-size: 1px
    }

    to {
        font-size: 30px
    }
}


.main-login-animate .register {
    animation-name: register;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    animation-delay: 2s;
    font-size: 1px;
    text-decoration: none;
    color: #0C88D8;
}

@keyframes register {
    from {
        font-size: 1px
    }

    to {
        font-size: 30px
    }
}