html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.beta .main-products {
  height: 80vh;
  position: relative;
  top: 10px;
  left: -2000px;
  animation-name: main-product;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}
@keyframes main-product {
  0% {
    left: -2000px;
  }
  100% {
    left: 10px;
  }
}
.beta .main-products div {
  height: 78vh;
}
.beta .main-products .card.card-product {
  height: 240px;
  margin-top: 5px;
  position: relative;
}
.beta .main-products .card.card-product .product {
  height: 100px;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}
.beta .main-products .card.card-product .product:hover {
  bottom: 10px;
  animation-name: product-anim;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-fill-mode: forwards;
}
@keyframes product-anim {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 50px;
  }
}
.beta .main-products .card.card-product img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.beta.back-shop.products {
  background: url("/public/beta/image/background/main-shop.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.beta.back-shop.products .main-navs .top {
  height: 50vh;
  position: relative;
  top: -500px;
  animation-name: nav-top;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}
@keyframes nav-top {
  0% {
    top: -500px;
  }
  100% {
    top: 20px;
  }
}
.beta.back-shop.products .main-navs .bottom {
  height: 50vh;
  position: relative;
  bottom: -500px;
  animation-name: nav-bottom;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}
@keyframes nav-bottom {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */