// Values
$color-dark: #262626;
$color-glass-door: #47e3ff57;
$color-white: #fff;
$color-black:#000;
$color-red-them: #EE384E;

$font-dancingScript: "Dancing Script",
cursive;
$font-josefinSans: "Josefin Sans",
sans-serif;
$font-nunito: "Nunito",
sans-serif;


// Mixins
@mixin backgroundFull($url) {
    background: url($url) center no-repeat;
    background-size: cover;
}

@mixin doorsAnimation($sideName, $sidePosition) {
    animation-name: $sideName;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;

    @keyframes #{$sideName} {
        0% {
            position: relative;

            @if($sidePosition==left) {
                left: 0;
            }

            @else {
                right: 0;
            }

        }

        100% {
            position: relative;

            @if($sidePosition==left) {
                left: -2000px;
            }

            @else {
                right: -2000px;
            }
        }
    }
}

@mixin arrowMenuSides($sideName, $sidePosition, $delayTime) {
    @if($sidePosition==left) {
        left: 200px;
    }

    @else {
        right: 200px;
    }

    animation-name: $sideName;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: $delayTime;

    @keyframes #{$sideName} {
        0% {
            top: -400px;

            @if($sidePosition==left) {
                left: 200px;
            }

            @else {
                right: 200px;
            }
        }

        90% {
            top: 0;

            @if($sidePosition==left) {
                left: 200px;
            }

            @else {
                right: 200px;
            }
        }

        100% {
            top: -30px;

            @if($sidePosition==left) {
                left: 200px;
            }

            @else {
                right: 200px;
            }
        }
    }
}

@mixin arrowMenuBoards($bottomPosition,$side) {
    width: 150px;
    height: 50px;
    background-color: orangered;
    color: $color-white;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: $bottomPosition;
    @if($side==left) {
        left: 0;
    }

    @else {
        right: 0;
    }
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}