.beta {
    .advertise-box {
        position: absolute;
        bottom: -500px;
        height: 300px;
        left: 50%;
        border-radius: 5px;
        border: 5px solid $color-dark;
        overflow: hidden;
        transform: translate(-50%, -50%);
        animation-name: advertise;
        animation-delay: 1.7s;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
        animation-fill-mode: forwards;

        @keyframes advertise {
            0%{
                bottom: -500px;
            }

            100%{
                bottom: -130px;
            }
        }

        .carousel-item img{
            object-fit: cover;
        }
    }

    
    .borad-link{
        display: block;
        width: 150px;
        transition: all .5s;

        &:hover{
            width: 250px;
            color: purple;
        }
    }

}