.beta {
    &.back-shop {
        @include backgroundFull('/public/beta/image/background/main-shop.jpg');
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    // Start Header Section
    & .header {
        height: 100px;
        background-color: $color-dark;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        & .logo {
            position: absolute;
            left: 50px;
            top: 30px;
        }

        & .title {
            font-family: $font-dancingScript;
        }

        & .cart {
            position: absolute;
            right: 50px;
            top: 17px;
            cursor: pointer;
        }

        & .cart .sidebar-toggle {
            position: unset !important;
            z-index: 2;
            padding: 0 !important;
            background: transparent !important;
            color: white;
            width: unset !important;
            height: unset !important;
        }

        & .cart #sidebar-toggle-input {
            display: none;
        }

        & .cart .sidebar {
            width: 200px;
            height: auto;
            background: transparent;
            position: fixed;
            left: 10%;
            top: 30%;
            transition: 0.3s;
            /* transform: translate(-50%, 0); */
            transform: translateX(-400%);
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
        }

        & .cart #sidebar-toggle-input:checked~.sidebar {
            transform: none;
        }
    }

    // End Header Section

    & .row {
        height: 100%;
    }

    // Start Left Door Section
    & .left-door {
        @include doorsAnimation(ldoor, left);
        background-color: $color-glass-door;
        height: 100%;
        display: flex;
        padding-right: 0;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
        position: relative;

        & img {
            height: 100px;
            width: auto;
        }
    }

    // End Left Door Section

    // Start Right Door Section
    & .right-door {
        @include doorsAnimation(rdoor, right);
        background-color: $color-glass-door;
        height: 100%;
        display: flex;
        padding-left: 0;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        position: relative;

        & img {
            height: 100px;
            width: auto;
        }
    }

    // End Right Door Section

    // Start Right Arrow (Menu) Section
    & .right-arrow {
        @include arrowMenuSides(rArrow, right, 2.5s);
        width: 10px;
        height: 400px;
        background-color: orangered;
        display: block;
        position: absolute;
        top: -400px;
        
        & .board-r-electronic {
            @include arrowMenuBoards(0, left)
        }

        & .board-l-cloth {
            @include arrowMenuBoards(50px, right)
        }

        & .board-r-beuty-health {
            @include arrowMenuBoards(100px, left)
        }
    }

    // End Right Arrow (Menu) Section

    // Start Left Arrow (Menu) Section
    & .left-arrow {
        @include arrowMenuSides(lArrow, left, 3.8s);
        width: 10px;
        height: 550px;
        background-color: orangered;
        display: block;
        position: absolute;
        top: -550px;

        & .board-r-electronic {
            @include arrowMenuBoards(0, left)
        }

        & .board-l-cloth {
            @include arrowMenuBoards(50px, right)
        }

        & .board-r-beuty-health {
            @include arrowMenuBoards(100px, left)
        }
    }

    // End Left Arrow (Menu) Section














}