html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.beta.back-shop {
  background: url("/public/beta/image/background/main-shop.jpg") center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.beta .header {
  height: 100px;
  background-color: #262626;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.beta .header .logo {
  position: absolute;
  left: 50px;
  top: 30px;
}
.beta .header .title {
  font-family: "Dancing Script", cursive;
}
.beta .header .cart {
  position: absolute;
  right: 50px;
  top: 17px;
  cursor: pointer;
}
.beta .header .cart .sidebar-toggle {
  position: unset !important;
  z-index: 2;
  padding: 0 !important;
  background: transparent !important;
  color: white;
  width: unset !important;
  height: unset !important;
}
.beta .header .cart #sidebar-toggle-input {
  display: none;
}
.beta .header .cart .sidebar {
  width: 200px;
  height: auto;
  background: transparent;
  position: fixed;
  left: 10%;
  top: 30%;
  transition: 0.3s;
  /* transform: translate(-50%, 0); */
  transform: translateX(-400%);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.beta .header .cart #sidebar-toggle-input:checked ~ .sidebar {
  transform: none;
}
.beta .row {
  height: 100%;
}
.beta .left-door {
  animation-name: ldoor;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
  background-color: rgba(71, 227, 255, 0.3411764706);
  height: 100%;
  display: flex;
  padding-right: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  position: relative;
}
@keyframes ldoor {
  0% {
    position: relative;
    left: 0;
  }
  100% {
    position: relative;
    left: -2000px;
  }
}
.beta .left-door img {
  height: 100px;
  width: auto;
}
.beta .right-door {
  animation-name: rdoor;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
  background-color: rgba(71, 227, 255, 0.3411764706);
  height: 100%;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  position: relative;
}
@keyframes rdoor {
  0% {
    position: relative;
    right: 0;
  }
  100% {
    position: relative;
    right: -2000px;
  }
}
.beta .right-door img {
  height: 100px;
  width: auto;
}
.beta .right-arrow {
  right: 200px;
  animation-name: rArrow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  width: 10px;
  height: 400px;
  background-color: orangered;
  display: block;
  position: absolute;
  top: -400px;
}
@keyframes rArrow {
  0% {
    top: -400px;
    right: 200px;
  }
  90% {
    top: 0;
    right: 200px;
  }
  100% {
    top: -30px;
    right: 200px;
  }
}
.beta .right-arrow .board-r-electronic {
  width: 150px;
  height: 50px;
  background-color: orangered;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.beta .right-arrow .board-l-cloth {
  width: 150px;
  height: 50px;
  background-color: orangered;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 50px;
  right: 0;
}
.beta .right-arrow .board-r-beuty-health {
  width: 150px;
  height: 50px;
  background-color: orangered;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 100px;
  left: 0;
}
.beta .left-arrow {
  left: 200px;
  animation-name: lArrow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 3.8s;
  width: 10px;
  height: 550px;
  background-color: orangered;
  display: block;
  position: absolute;
  top: -550px;
}
@keyframes lArrow {
  0% {
    top: -400px;
    left: 200px;
  }
  90% {
    top: 0;
    left: 200px;
  }
  100% {
    top: -30px;
    left: 200px;
  }
}
.beta .left-arrow .board-r-electronic {
  width: 150px;
  height: 50px;
  background-color: orangered;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.beta .left-arrow .board-l-cloth {
  width: 150px;
  height: 50px;
  background-color: orangered;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 50px;
  right: 0;
}
.beta .left-arrow .board-r-beuty-health {
  width: 150px;
  height: 50px;
  background-color: orangered;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 100px;
  left: 0;
}

.beta .advertise-box {
  position: absolute;
  bottom: -500px;
  height: 300px;
  left: 50%;
  border-radius: 5px;
  border: 5px solid #262626;
  overflow: hidden;
  transform: translate(-50%, -50%);
  animation-name: advertise;
  animation-delay: 1.7s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: forwards;
}
@keyframes advertise {
  0% {
    bottom: -500px;
  }
  100% {
    bottom: -130px;
  }
}
.beta .advertise-box .carousel-item img {
  object-fit: cover;
}
.beta .borad-link {
  display: block;
  width: 150px;
  transition: all 0.5s;
}
.beta .borad-link:hover {
  width: 250px;
  color: purple;
}/*# sourceMappingURL=main.css.map */