.error-area {
    height: 100vh;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    position: relative;
    /* background-image: url("../images/error/404-bg.png"); */
    background-repeat: no-repeat;
    background-position: center;
  }