.main-orders{
    border: solid 1px #E0E0E2;
    border-radius: 5px;
    margin: 17px;
    padding: 15px;
}

.main-orders .current-icon{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 13px;
}

.main-orders .seprate{
    width: 5px;
    height: 5px;
    background-color: #E3E3E5;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}

.main-orders .result{
    color: #424750;
}

.invoice-header{
    border-bottom: solid 5px #f0f0f1;
}