.box-detail{
    border-bottom: solid 1px #dee2e6;
    /* background-color: aqua; */
    height: 120px;
}

.title-compare{
    display: block;
    height: 100px;
}

.title-compare h5{
    transition: all 0.3s;
}

.title-compare h5:hover{
    color: #ee384e;
}

.select-product-btn{
    margin-top: 130px;
}

.cancel-product-selected-btn{
    position: absolute;
    top: 0;
    left: 0;
}

.cancel-product-selected-btn i{
    font-size: 1.5rem;
    color: #ee384e;
}