/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

/* Style the counter cards */
.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    /* background-color: #444; */
    color: #707070;
    font-family: "IranYekan", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-style: none;
}

.fa {
    font-size: 50px;
}

.about-title{
    color: var( --e-global-color-secondary );
    font-family: "IranYekan", Sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.about-us.counter i {
    color: #ee384e;
}